image: node:latest

cache:
  paths:
    - node_modules/

stages:
  - test
  - deploy

test:
  stage: test
  before_script:
    - npm install
  script:
    - npm test:unit
  only:
      - master

pages:
  stage: deploy
  before_script:
    - npm install
  script:
    - npm build
    - mv public public-vue
    - mv dist public
  artifacts:
    paths:
      - public
  only:
      - master
